* {
    font-family: Helvetica;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.main-title {
    font-family: HelveticaBold;
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.main-subtitle {
    font-family: HelveticaBold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /*width: 900px;*/
    width: 1000px;
    line-height: 25px;
    margin: 0 auto;
    font-size: 20px;
}


.live-acc-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 272px;
    margin: 0 auto;
}

.live-acc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 47px;
    color: white;
    background-color: #b79d2e;
    margin-top: 62px;
    font-family: Helvetica;
}


.section-slogan {
    margin: 100px 0 100px 0;
    font-family: Helvetica, sans-serif;
    background-image: url("../img/slogan-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-slogan-title {
    font-family: HelveticaBold;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: white;
    margin: 30px 0 22px 0;
    font-weight: 800;
}

.section-slogan-subtitle {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: white;
    width: 750px;
    text-align: center;
    line-height: 30px;
}

.live-acc-btn-subtitle {
    margin-top: 15px;
    font-family: Helvetica;
}

.live-acc-btn-subtitle-white {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.tab-line {
    /*display: flex;*/
    /*justify-content: space-between;*/
    width: 80px;
    height: 3px;
    background-color: #000000;
    opacity: 0.1;
}

.line-finish {
    /*width: 1190px;*/
    width: 100%;
    height: 0;
    border: 2px solid black;
    opacity: 0.1;
    margin: -30px 0 64px 0;
}

.line-finish:before {
    content: "";
    position: relative;
    width: 0;
    top: -32px;
    right: -430px;
    /*right: 50%;*/
    height: 0;
    border-style: solid;
    border-width: 0 14px 14px 14px;
    border-color: transparent transparent #000000;
}


.slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    width: 900px;
    margin: 0 auto;
    transition: .4s;
}

.lines {
    display: flex;
    /*justify-content: start;*/
    align-items: center;
    /*text-align: center;*/
}

.tab-line {
    position: relative;
    display: flex;
    top: -100px;
    align-items: center;
    /*margin: 50px;*/
    /*margin-right: 50px;*/
    margin: 25px 50px 0 90px;
}

.tab-line:nth-child(3) {
    margin: 25px 50px 0 70px;
}

.tab-line:nth-child(4) {
    margin: 25px 50px 0 70px;
}

/*.tab-line:first-child {*/
/*    width: 1px;*/
/*}*/

.tab {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*justify-content: space-between;*/
    width: 100%;
    margin: 50px 0 40px 0;
    overflow: hidden;
    /*display: flex;*/
    /*justify-content: center;*/
}

.btn {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    /*display: inline-block;*/
    cursor: pointer;
    transition: .4s;
    filter: grayscale(100%);
    /*width: 60px;*/
    /*height: 60px;*/
}

.tabContentWrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.tabContent {
    display: none;
    opacity: 0;
    transition: opacity 2s;
    transition-delay: .2s;
}

.slider {
    overflow: hidden;
}

.slider img {
    margin-right: 10px;
    margin-left: 10px;
}

.show {
    display: block;
    opacity: 1;
}

.colored {
    filter: none;
}

.active {
    /*background-color: blue;*/
    transform: scale(1.3);
    color: white;
    /*filter: none;*/
    /*filter: none;*/
    filter: none;
}

/*TODO: add onClick active colorful circles*/

.slider-item {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    height: 250px;
    background-color: #ffffff;
    /*transition: .4s ;*/
}

.slider-item:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgb(229, 229, 229);
    -moz-box-shadow: 0px 0px 25px 0px rgb(229, 229, 229);
    box-shadow: 0px 0px 15px 0px rgb(229, 229, 229);
}

.slider_item-image {
    padding-top: 40px;
}

.bold-item-name {
    font-weight: 900;
    font-size: 20px;
}

.item-name {
    margin-top: 40px;
    padding-bottom: 50px;
}

.item-price {
    font-size: 25px;
}


.section-main-content-progress-bar-items > img {
    padding: 5px;
    border-radius: 50%;
}

.star-tab-img {
    border: 2px solid #fe0000;
    border-radius: 50%;
    transition: .4s;
}

/*.star-tab-img:hover,*/
/*.oil-tab-img:hover,*/
/*.exchange_green-tab-img:hover,*/
/*.exchange_violet-tab-img:hover {*/
/*    filter: none;*/
/*}*/


.star-tab {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 2px solid silver;
    border-radius: 50%;
    margin-right: 10px;
}

.oil-tab-img {
    border: 2px solid #00a7cc;
    border-radius: 50%;
    /*filter: none;*/
    transition: .4s;
    /*filter: grayscale(100%);*/
}

.oil-tab {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 2px dashed silver;
    border-radius: 50%;
    margin-right: 10px;
}

.stocks-tab-img {
    padding-left: 2px;
    transition: .4s;
    /*filter: grayscale(100%);*/
}

/*.stocks-tab-img:hover {*/
/*    filter: none;*/
/*}*/

.stocks-tab {
    background-color: #daa620;
    background-image: linear-gradient(-246deg, rgba(252, 79, 18, 0.77) 0%, rgba(252, 185, 18, 0) 100%);
    display: flex;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 2px dashed black;
    border-radius: 50%;
    /*filter: grayscale(100%);*/
}

.section-main-content-slider-items-hide {
    display: none;
}

.exchange_green-tab-img {
    border: 2px solid #39b54a;
    border-radius: 50%;
    transition: .4s;
    /*filter: none;*/
    /*filter: grayscale(100%);*/
}

.exchange_violet-tab-img {
    border: 2px solid #8560a8;
    border-radius: 50%;
    transition: .4s;
    /*filter: grayscale(100%);*/
}

.exchange_green-tab {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;;
    padding: 5px;
    border: 2px dashed silver;
    border-radius: 50%;
    margin-right: 10px;
}

.exchange_violet-tab {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 2px dashed silver;
    border-radius: 50%;
    margin-right: 10px;
}

/*__________*/

.slick-slide {
    margin: 10px;
}

.slick-list {
    margin: 0 -5px 0 -5px;
    /*width: 0;*/
    /*height: 0;*/
    /*display: none;*/
}

/*__________*/

/*button.slick-next, button.slick-next:hover {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: -50px;*/
/*    background-image: url("../img/right-arrow.png");*/
/*    background-repeat: no-repeat;*/
/*}*/

/*button.slick-prev, button.slick-prev:hover {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: -50px;*/
/*    z-index: 1;*/
/*    background-image: url("../img/left-arrow.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position-x: right;*/
/*}*/

/*.slick-prev:before, .slick-next:before {*/
/*    font-size: 70px;*/
/*    color: #EA8496;*/
/*    line-height: inherit;*/
/*    font-weight: bold;*/
/*}*/

/*.slick-prev:before,*/
/*.slick-next:before {*/
/*    color: black;*/
/*}*/

/*.slick-dots {*/
/*    bottom: -30px;*/
/*}*/

/*.slick-prev:after {*/
/*    content: ">";*/
/*    color: red;*/
/*    font-size: 30px;*/
/*}*/

/*.slick-next:before {*/
/*    content: "<";*/
/*    color: red;*/
/*    font-size: 30px;*/
/*}*/

.fa-chevron-right,
.fa-chevron-left {
    display: flex;
    cursor: pointer;
    font-size: 40px;
    align-items: center;
    text-align: center;

}

.fa-chevron-left:before {
    position: relative;
    top: 130px;
    z-index: 10;
    font-size: 25px;
    cursor: pointer;
}

.fa-chevron-right:before {
    position: relative;
    right: -845px;
    top: -150px;
    font-size: 25px;
    cursor: pointer;
}

/*.fa-angle-right {*/
/*    position: relative;*/
/*    top: -160px;*/
/*    display: flex;*/
/*    justify-content: end;*/
/*}*/

/*.fa-angle-left {*/
/*    position: relative;*/
/*    top: 144px;*/
/*    right: 0;*/
/*    display: flex;*/
/*    justify-content: start;*/
/*    z-index: 10;*/
/*}*/


.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    cursor: pointer;
    list-style-type: none;
}

li {
    margin: 0 0.25rem;
    cursor: pointer;
}

button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    background-color: gray;
    border-radius: 100%;
    text-indent: -9999px;
    cursor: pointer;
}

li.slick-active button {
    cursor: pointer;
    background-color: black;

}

/*.asdasd:before {*/
/*    content: 'O';*/
/*    font-size: 30px;*/
/*    color: black;*/
/*    font-weight: 900;*/
/*}*/


/*-----------------------------------------------------------------------custom dots start---------------------------------------------------------------------*/

.custom-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.custom-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.custom-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.custom-dots li button:hover,
.custom-dots li button:focus {
    outline: none;
}

.custom-dots li button:hover:before,
.custom-dots li button:focus:before {
    opacity: 1;
}

.custom-dots li button:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 1px silver;
    text-shadow: 1px 1px 0 silver, -1px -1px 0 silver, 1px -1px 0 silver, -1px 1px 0 silver, 1px 1px 0 silver;

}

.custom-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

/*-----------------------------------------------------------------------custom dots end---------------------------------------------------------------------*/

