* {
    font-family: Helvetica;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*body {*/
/*    background: linear-gradient(45deg,#563bac 0,#5327ab 24%,#5b75ae 48%,#66dbb1 100%);*/
/*}*/

.main-title {
    font-family: HelveticaBold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px 0 30px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.main-subtitle {
    font-family: HelveticaBold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1000px;
    line-height: 25px;
    margin: 0 auto;
    font-size: 20px;
}


.live-acc-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 272px;
    margin: 0 auto;
}

.live-acc-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 47px;
    color: white;
    background-color: #b79d2e;
    margin-top: 62px;
    font-family: Helvetica;
}


.section-slogan {
    margin: 100px 0 100px 0;
    font-family: Helvetica, sans-serif;
    background-image: url("../img/slogan-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.section-slogan-title {
    font-family: HelveticaBold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    margin: 30px 0 22px 0;
    font-weight: 800;
}

.section-slogan-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    width: 750px;
    text-align: center;
    line-height: 30px;
}

.live-acc-btn-subtitle {
    margin-top: 15px;
    font-family: Helvetica;
}

.live-acc-btn-subtitle-white {
    color: white;
    text-align: center;
    margin-top: 15px;
}

/*.tab-line {*/
/*    width: 80px;*/
/*    height: 3px;*/
/*    background-color: #000000;*/
/*    opacity: 0.1;*/
/*}*/

.line-finish {
    width: 100%;
    height: 0;
    border: 2px solid black;
    opacity: 0.1;
    margin: -30px 0 64px 0;
}

.line-finish:before {
    content: "";
    position: relative;
    width: 0;
    top: -32px;
    right: -430px;
    height: 0;
    border-style: solid;
    border-width: 0 14px 14px 14px;
    border-color: transparent transparent #000000;
}


.slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-x: hidden;
    width: 900px;
    margin: 0 auto;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.lines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tab-title-star,
.tab-title-oil,
.tab-title-stocks,
.tab-title-green,
.tab-title-violet {
    display: none;
}

.wrapper-test {
    text-align: center;
    position: relative;
}

.tab-line {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*top: -113px;*/
    bottom: 106px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 25px 50px 0 90px;
    width: 80px;
    height: 3px;
    background-color: #000000;
    opacity: 0.1;
}

.tab-line:nth-child(3) {
    margin: 25px 50px 0 70px;
}

.tab-line:nth-child(4) {
    margin: 25px 50px 0 70px;
}

.tab {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 50px 0 40px 0;
    /*overflow: hidden;*/
    height: 80px;
}

.title-test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*@-webkit-keyframes jump {*/
/*    0% {*/
/*        -webkit-transform: translateY(0);*/
/*        transform: translateY(0);*/
/*    }*/
/*    20% {*/
/*        -webkit-transform: translateY(0);*/
/*        transform: translateY(0);*/
/*    }*/
/*    40% {*/
/*        -webkit-transform: translateY(-30px);*/
/*        transform: translateY(-30px);*/
/*    }*/
/*    50% {*/
/*        -webkit-transform: translateY(0);*/
/*        transform: translateY(0);*/
/*    }*/
/*    60% {*/
/*        -webkit-transform: translateY(-15px);*/
/*        transform: translateY(-15px);*/
/*    }*/
/*    80% {*/
/*        -webkit-transform: translateY(0);*/
/*        transform: translateY(0);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: translateY(0);*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes jump {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes jump {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.title-test-text-1 {
    display: none;
    position: relative;
    bottom: -44px;
    left: -406px;
}

.title-test-text-2 {
    display: none;
    position: relative;
    bottom: -44px;
    left: -206px;
    /*-webkit-animation: jump 1.5s ease 0s normal;*/
    /*animation: fadeIn;*/
}

.title-test-text-3 {
    display: none;
    position: relative;
    bottom: -44px;
    /*right: -11px;*/
}

.title-test-text-4 {
    display: none;
    position: relative;
    bottom: -44px;
    right: -191px;
}

.title-test-text-5 {
    display: none;
    position: relative;
    bottom: -44px;
    right: -392px;
}

.active-title,
.active-title,
.active-title,
.active-title,
.active-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: Helvetica;
    font-size: 21px;
    font-weight: 900;
    position: relative;
    /*-webkit-animation: fadeIn 1.5s ease 0s infinite normal;*/
    -webkit-animation: fadeIn 1.5s ease 0s normal;
    animation: fadeIn 1.5s ease 0s normal;
    /*animation: fadeIn 1s alternate;*/
    /*bottom: 20px;*/
}

.not-active-title {
    display: none;
}


.star-title-TEST {
    display: none;
    /*margin-left: 15px;*/
    font-family: Helvetica;

}

.oil-title-TEST {
    display: none;
    /*margin-left: 5px;*/
    font-family: Helvetica;
}

.stocks-title-TEST {
    display: none;
    font-family: Helvetica;
}

.green-title-TEST {
    display: none;
    font-family: Helvetica;
}

.violet-title-TEST {
    display: none;
    font-family: Helvetica;
}

.active-TEST-tab {
    position: absolute;
    /*bottom: 75%;*/
    bottom: 100%;
    /*margin: 0 0 0 12px;*/
    display: block;
    color: black;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5px;
    animation: fadeIn 1.5s ease 0s normal;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.tabContentWrap {
    position: relative;
    width: 100%;
    /*overflow: hidden;*/
    padding: 10px;
    height: 100%;
    -webkit-animation: fadeIn 1.5s ease 0s normal;
    animation: fadeIn 1.5s ease 0s normal;
}

.tabContent {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}


.slider {
    overflow: hidden;
}

.slider img {
    margin-right: 10px;
    margin-left: 10px;
}

.show {
    display: block;
    opacity: 1;
}

.colored {
    -webkit-filter: none;
    filter: none;
}

.active {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    /*transform-origin: center center;*/
    color: white;
    -webkit-filter: none;
    filter: none;
}

/*TODO: add onClick active colorful circles*/

.slider-item {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    height: 250px;
    background-color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation: fadeIn 1.5s ease 0s normal;
    animation: fadeIn 1.5s ease 0s normal;
}

.slider-item:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgb(229, 229, 229);
    box-shadow: 0px 0px 15px 0px rgb(229, 229, 229);
}

.slider_item-image {
    padding-top: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bold-item-name {
    font-weight: 900;
    font-size: 20px;
}

.item-name {
    margin-top: 40px;
    padding-bottom: 50px;
}

.item-price {
    font-size: 25px;
}


.section-main-content-progress-bar-items > img {
    padding: 5px;
    border-radius: 50%;
}

.star-tab-img {
    border: 2px solid #fe0000;
    border-radius: 50%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.star-tab {
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    /*width: 50px;*/
    /*height: 50px;*/
    padding: 5px;
    border: 2px solid silver;
    border-radius: 50%;
    margin-right: 10px;
}

.oil-tab-img {
    border: 2px solid #00a7cc;
    border-radius: 50%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.oil-tab {
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    /*width: 50px;*/
    /*height: 50px;*/
    padding: 5px;
    border: 2px dashed silver;
    border-radius: 50%;
    margin-right: 10px;
}

.stocks-tab-img {
    /*padding-left: 2px;*/
    border: 2px dashed black;
    border-radius: 50%;
    text-align: center;
    /*width: 50px;*/
    /*height: 50px;*/
    -webkit-transition: .4s;
    -o-transition: .4s;
    background-color: #daa620;
    background-image: -webkit-linear-gradient(336deg, rgba(252, 79, 18, 0.77) 0%, rgba(252, 185, 18, 0) 100%);
    background-image: -o-linear-gradient(336deg, rgba(252, 79, 18, 0.77) 0%, rgba(252, 185, 18, 0) 100%);
    background-image: linear-gradient(-246deg, rgba(252, 79, 18, 0.77) 0%, rgba(252, 185, 18, 0) 100%);
    /*transition: .4s;*/
    /*background: gray;*/
}

.stocks-tab {
    background-color: #daa620;
    background-image: -webkit-linear-gradient(336deg, rgba(252, 79, 18, 0.77) 0%, rgba(252, 185, 18, 0) 100%);
    background-image: -o-linear-gradient(336deg, rgba(252, 79, 18, 0.77) 0%, rgba(252, 185, 18, 0) 100%);
    background-image: linear-gradient(-246deg, rgba(252, 79, 18, 0.77) 0%, rgba(252, 185, 18, 0) 100%);
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 2px dashed black;
    border-radius: 50%;
}

.section-main-content-slider-items-hide {
    display: none;
}

.exchange_green-tab-img {
    border: 2px solid #39b54a;
    border-radius: 50%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.exchange_violet-tab-img {
    border: 2px solid #8560a8;
    border-radius: 50%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.exchange_green-tab {
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    /*width: 50px;*/
    /*height: 50px;;*/
    padding: 5px;
    border: 2px dashed silver;
    border-radius: 50%;
    margin-right: 10px;
}

.exchange_violet-tab {
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    /*width: 50px;*/
    /*height: 50px;*/
    padding: 5px;
    border: 2px dashed silver;
    border-radius: 50%;
    margin-right: 10px;
}

.slick-slide {
    margin: 10px;
}

.slick-list {
    margin: 0 -5px 0 -5px;
}

.fa-chevron-right,
.fa-chevron-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    font-size: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

}

.fa-chevron-left:before {
    position: relative;
    top: 130px;
    z-index: 10;
    font-size: 25px;
    cursor: pointer;
}

.fa-chevron-right:before {
    position: relative;
    right: -845px;
    top: -150px;
    font-size: 25px;
    cursor: pointer;
}

.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    cursor: pointer;
    list-style-type: none;
}

li {
    margin: 0 0.25rem;
    cursor: pointer;
}

button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    background-color: gray;
    border-radius: 100%;
    text-indent: -9999px;
    cursor: pointer;
}

li.slick-active button {
    cursor: pointer;
    background-color: black;

}


/*!*-----------------------------------------------------------------------custom dots start---------------------------------------------------------------------*!*/

/*.custom-dots {*/
/*    position: absolute;*/
/*    bottom: -45px;*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    text-align: center;*/
/*}*/

/*.custom-dots li {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    margin: 0 5px;*/
/*    padding: 0;*/
/*    cursor: pointer;*/
/*}*/

/*.custom-dots li button {*/
/*    font-size: 0;*/
/*    line-height: 0;*/
/*    display: block;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    padding: 5px;*/
/*    cursor: pointer;*/
/*    color: transparent;*/
/*    border: 0;*/
/*    outline: none;*/
/*    background: transparent;*/
/*}*/

/*.custom-dots li button:hover,*/
/*.custom-dots li button:focus {*/
/*    outline: none;*/
/*}*/

/*.custom-dots li button:hover:before,*/
/*.custom-dots li button:focus:before {*/
/*    opacity: 1;*/
/*}*/

/*.custom-dots li button:before {*/
/*    font-family: 'slick';*/
/*    font-size: 30px;*/
/*    line-height: 20px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    content: '•';*/
/*    text-align: center;*/
/*    opacity: .25;*/
/*    color: black;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*    -webkit-text-stroke: 1px silver;*/
/*    text-shadow: 1px 1px 0 silver, -1px -1px 0 silver, 1px -1px 0 silver, -1px 1px 0 silver, 1px 1px 0 silver;*/

/*}*/

/*.custom-dots li.slick-active button:before {*/
/*    opacity: .75;*/
/*    color: black;*/
/*}*/

/*-----------------------------------------------------------------------custom dots end---------------------------------------------------------------------*/
